body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mouseOverPopup {
  font-size: 11px;
  overflow: hidden;
  position: absolute;
  z-index: 99999;
  top: 24px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #888;
  webkit-box-shadow: 0px 0px 4px #888;
  box-shadow: 0px 0px 4px #888;
  border:1px solid #888888;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-color: #dddddd;
  pointer-events: none;
}

.olControlAttribution{
  bottom: 0px !important;
}

.olControlMousePosition{
  top: 0px !important;
}

#zoomSpeed{
  position:absolute;
  top: 12px;
  font-size: 12px;
  color: black;
  background-color: #FF5533;
  padding: 5px;
  border-radius: 3px;
  left: 40px;
  opacity: 0.8;
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: transparent !important;
  box-shadow: 0 0px 0px #888 !important;
  -moz-box-shadow: 0 0px 0px #888 !important;
  -webkit-box-shadow: 0 0px 0px #999 !important;
  border-radius: 5px !important;
}

.leaflet-popup-content-wrapper {
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
    border-radius: 5px !important;
    display:inline;
}

.leaflet-popup-tip-container{
  display: none !important;
}

.leaflet-popup-content{
  font-size: 9px;
  margin:4px 8px;
}
.polygon{
  fillColor:black;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#text {
  font-size: 24pt;
  text-align: center;
  margin-top: 40px;
}
